.cart-list-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 348px 40px;
    -ms-grid-rows: 40px 1fr 150px;
    color: white;
    height: 100%;
    margin-left: 120px;
}

.cartpage .cartlist {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
}

.cart-list-header {
    border-bottom: 2px solid white;
    margin-bottom: 0px;
    margin-right: 24px;
    padding-bottom: 5px;
}

    .cart-list-header p {
        font-weight: 500;
        font-size: 12pt;
    }

    .cart-list-header div {
        padding: 0px 5px;
    }



.win-listview .win-container:not(.win-footprint) {
    background-color: transparent;
}

.cartpage .win-listview .win-container {
	margin: 5px 24px 5px 0px;
}

.cartpage .item-container {
    -ms-grid-columns: 80px 3fr 2fr 1fr 1fr;
    display: -ms-grid;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    height: auto;
}

.cartpage .win-listview > .win-vertical .win-item {
}

.cartpage .candyrack-area {
	height: 100%;
}



/* Over rides default.css */
.item-container .item-title {
    color: white;
}

.col-1 {
    -ms-grid-column: 1;
}

.col-2 {
    -ms-grid-column: 2;
}

.col-3 {
    -ms-grid-column: 3;
}

.col-4 {
    -ms-grid-column: 4;
}

.col-5 {
    -ms-grid-column: 5;
}

.col-6 {
    -ms-grid-column: 6;
}


/* Over-rides ui-dark.css */

.cart-line-item {
    background-color: rgba(23, 38, 66, 0.498);
}

    .cart-line-item div {
        padding: 5px;
    }

    .cartpage .item-pricing {
        text-align: right;
    }

    .cartpage .item-total {
        text-align: right;
        padding-right: 5px;
    }

    .cart-line-item .image-wrapper {
        max-height: 65px;
        overflow-y: hidden;
        padding: 2px;
        margin: 5px;
        max-width: 65px;
        background-color: white;
        text-align: center;
    }

        .cart-line-item .image-wrapper img {
            max-width: 65px;
            margin-left: auto;
            margin-right: auto;
            max-height: 65px;
        }

.cart-summary {
    -ms-grid-row: 3;
    margin-right: 24px;
    padding-top: 10px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto;
}
    .cart-summary p {
        margin-top: 0px;
        margin-bottom: 5px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 100px;
    }

    .cart-summary .col-1 {
        margin-left: 0px;
	    text-align: right;
    }
	
	.cart-summary .col-2 {
		text-align: right;
		}
        .cart-summary p span {
            display: inline-block;
        }

    .cart-summary .cart-total {
        font-size: 14pt;
    }

    .checkout-button {
    	-ms-grid-column: 2;
    	-ms-grid-row: 3;
    	margin-left: 20px;
    }

    .candyrack-container {
    	-ms-grid-column: 2;
    	-ms-grid-row-span: 2;
    	margin-left: 20px;
    	margin-top: 14px;
    }
	
	.cart-empty {
	margin-left: 120px;
}
