.page-header-bar {
	position: absolute;
	right: 67px;
	top: 40px;
}

.page-header-bar .win-commandicon {
	margin-left: 14px;
	margin-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.page-header-bar button.win-command
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 10px;
	vertical-align: top; 

}

.page-header-bar span.win-label {
	display: none;
}

@media screen and (-ms-view-state: snapped) {
	.page-header-bar {
		display: none;
	}
}
