<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>candyRackItemTemplate</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="CandyRackItemTemplate.css" rel="stylesheet" />
    <script src="Template.js"></script>
    </head>
<body>
    <div class="candyRackItemtemplate" data-win-control="WinJS.Binding.Template">
        <div class="productTemplate item-container">
            <div class="image-wrapper">
                <img src="#" class="item-image" data-win-bind="src:image; alt:product.displayName" />
            </div>
            <div class="item-title" >
                <p data-win-bind="textContent: product.displayName"></p>
            </div>
            <div class="item-pricing" >
                <span data-win-bind="textContent: pricing.oldPrice" data-win-option="{showNull: false}"></span>
                <span data-win-bind="textContent: pricing.formattedSalePriceWithQuantity"></span>
            </div>
        </div>
    </div>
</body>
</html>
