/*
    Category Template: Category Page
    Defines a 150 x 150 pixel tile with an category image and a title bar
*/

.categoryTemplate.category-container {
	display: -ms-grid;
	-ms-grid-rows: auto 30px;
	overflow: hidden;
	height: 150px;
	width: 310px;
}

.categoryTemplate .image-wrapper {
	-ms-grid-row: 1;
	background-color: white;
	display: block;
	text-align: center;
	height: 124px;
	width: 310px;
}

.categoryTemplate .image-wrapper img {
	max-width: 154px;
	max-height: 158px;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
	top: 10%;
}

.categoryTemplate .category-title {
	-ms-grid-row: 2;
	-ms-grid-row-align: center;
	background-color: #9A2D2C;
	height: 40px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 0px;
	width: 310px;
}

.categoryTemplate .category-title p{
	margin-top: 0px;
	font-size: 11pt;
	font-weight: 500;
	line-height: 10px;
	padding-left: 10px;
	padding-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 25px;
	color: white;
	text-align: center;
}