<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>categorytemplate</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="CategoryTemplate.css" rel="stylesheet" />
    <script src="Template.js"></script>
    </head>
<body>
    <div class="categorytemplate" data-win-control="WinJS.Binding.Template">
        <div class="categoryTemplate category-container">
            <div class="image-wrapper">
                <img src="#" class="category-image" data-win-bind="src:thumbnailImage; alt:displayName" />
            </div>
            <div class="category-title">
                <p data-win-bind="textContent: displayName" style="margin-bottom: 0px;"></p>
            </div>
        </div>
    </div>
</body>
</html>
