/*
    Category Template: Category Page
    Defines a 150 x 150 pixel tile with an category image and a title bar
*/

.categoryTemplate.category-container {
	display: -ms-grid;
	-ms-grid-rows: auto 30px;
	overflow: hidden;
	height: 150px;
	width: 150px;
}

.categoryTemplate .image-wrapper {
	-ms-grid-row: 1;
	background-color: white;
	display: block;
	text-align: center;
	height: 124px;
	width: 150px;
}

.categoryTemplate .image-wrapper img {
	max-width: 150px;
	max-height: 158px;
}

.categoryTemplate .category-title {
	-ms-grid-row: 2;
	-ms-grid-row-align: center;
	background-color: rgba(21, 31, 50, 0.898);
	height: 40px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 0px;
	width: 150px;
}

.categoryTemplate .category-title p{
	margin-top: 0px;
	font-size: 9pt;
	font-weight: 500;
	line-height: 10px;
	padding-left: 10px;
	padding-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 25px;
}