<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AddressDetailTemplate</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="AddressDetailTemplate.css" rel="stylesheet" />
    <script src="Template.js"></script>
</head>
<body>
    <div id="paymentDetailTemplate" data-win-control="WinJS.Binding.Template">
         <label><span data-win-bind="textContent: creditCard.type"/></label> <br />
         <label><span data-win-bind="textContent: creditCard.displayableNumber"/></label> <br />
         <label><span data-win-bind="textContent: creditCard.expirationMonth"/></label><label> / <span data-win-bind="textContent: creditCard.expirationYear"/></label>
    </div>
</body>
</html>
