/* 
    Product Template
    Defines a 310 x 75 pixel template to display products. 
    Use whenever a product is displayed in a list view control 
*/
.productTemplate.item-container {
	border: 2px solid #5F84CF;
	cursor: pointer;
	width: 306px;
	background-color: rgba(34, 49, 78, 0.498);
	display: -ms-grid;
	overflow: hidden;
	height: 66px;
	-ms-grid-column-align: stretch;
	-ms-grid-row-align: stretch;
	-ms-grid-columns: 70px 1fr;
	-ms-grid-rows: 40px 30px;
}

.productTemplate.item-container .image-wrapper {
    width: 56px;
	height: 56px;
    float: left;
    background: white;
    text-align: center;
    vertical-align: middle;
    margin: 3px 0px 0px 5px;
    padding: 2px;
    overflow: hidden;
    -ms-grid-column: 1;
    -ms-grid-row-span: 1;
}

.productTemplate .item-image {
	max-width: 56px;
	max-height: 54px;
	color: #ccc;
}

.productTemplate.item-container p {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-right: 5px;
}

.productTemplate .item-title {
	font-weight: 600;
	line-height: 16px;
	max-height: 40px;
	overflow-y: hidden;
	overflow-x: hidden;
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.productTemplate .item-pricing {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
} 

.win-container.win-selected .win-selectionborder {
    border-width: 0;
    border-style: none;
}
.win-container.win-selected:hover .win-selectionborder {
    border-width: 0;
    border-style: none;
}

@media screen and (-ms-view-state: snapped) {
	.productTemplate.item-container {
		width: calc(100% - 4px);
	}
	
	footer{
		display: none;
	}
}