<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>secondSpotlightTemplate</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="SecondSpotlightTemplate.css" rel="stylesheet" />
    <script src="Template.js"></script>
    </head>
<body>
    <div class="secondSpotlightTemplate" data-win-control="WinJS.Binding.Template">
        <div class="secondSpotLight item-container">
            <div class="image-wrapper">
                <img src="#" class="item-image" data-win-bind="src:image; alt:name" />
            </div>
            
<!--            <div class="item-title" >
                <p data-win-bind="textContent: displayName"></p>
            </div>
            <div class="item-pricing" >
                <p data-win-bind="textContent: pricing.formattedSalePriceWithQuantity"></p>
            </div>-->
        </div>
    </div>
</body>
</html>
