/*
    Sub-Category Template: Category Page
    Defines a 150 x 150 pixel tile with an category image and a title bar
*/

.category-container {
	width: 148px;
	height: 150px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 30px;
	overflow: hidden;
}

.homepage .image-wrapper {
	-ms-grid-row: 1;
	background-color: rgba(255, 255, 255, 0.502);
	padding: 2px;
	display: block;
	text-align: center;
	width: 144px;
}

.homepage .category-title {
	-ms-grid-row: 2;
	-ms-grid-row-align: center;
	background-color: rgba(21, 31, 50, 0.498);
	height: 30px;
}

.homepage .category-title p{
	margin-top: 0px;
	font-size: 9pt;
	font-weight: 500;
	line-height: 30px;
	padding-left: 10px;
}
