/** Splash */
html {
    cursor: default;
}

body {
	background-color: #F1F1F1;
}

    body.loading {
    }

progress {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
    display: block;
}


.extendedSplashScreen.hidden {
    display: none;
}

/** END Splash */

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 120px 1fr 80px;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 39px;
            margin-top: 59px;
        }
		
		.fragment header[role=banner] .dr-homebutton {
		    margin-left: 39px;
            margin-top: 59px;}

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 37px;
        }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        width: 100%;
        height: 100%;
    }

    h1.titlearea {
        width: 80%;
    }

span.win-label {
	display: none;
}

.add-to-cart { 
	position: absolute;
	border-radius: 50%;
	background-color: #74C720;
	z-index: 100;
	transition: all 1s;
	display: none;
}

    .add-to-cart span {
        font-size: inherit;
        font-weight: bold;
        width: inherit;
        text-align: center;
    }

.add-to-cart.start{
    width: 40px;
	height: 40px;
	font-size: 22pt;
	transition: all 1s;
	top: 0px;
	right: 12px;
	display: block;
}

.add-to-cart-count {
	display: inline-block;
	position: absolute;
	top: 15%;
}

.add-to-cart.end{
	top: 15px;
	right: 7px;
	width: 22px;
	height: 22px;
	display: block;
	font-size: 11pt;
	font-weight: normal;
	margin-top: 2px;
}

#cartIconBadge {
	display: none;
	position: absolute;
	right: 7px;
	top: 17px;
	width: 22px;
	height: 22px;
	background-color: #74C720;
	border-radius: 50%;
	font-weight: bold;
	text-align: center;
}

.badge-count {
		display: inline-block;
		margin-top: 2px;
		
}

.hidden {
	margin-bottom: 5px;
	background-color: transparent;
	display: none !important;
}

.win-listview > .win-horizontal .win-container{
	background-color: transparent;
}

/*
	Defines the standard footer on each page
*/
footer {
	-ms-grid-row: 3;
	text-align: center;
	padding-top: 10px;
}

footer p {
	margin-bottom: 5px;
	margin-top: 0px;
}

.dr-homebutton {
    display: inline-block;
    min-width: 0;
    min-height: 0;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    text-align: center;

    /* Normal sizing. */
    width: 41px;
    height: 41px;
    font-size: 14pt;
    line-height: 37px; /* line-height must match the content box height. */
    vertical-align: baseline;
}
.dr-homebutton:hover, .dr-homebutton:hover:active {
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.dr-homebutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E10F";
    vertical-align: 50%;
}

#flyoutAnchor {
	top: 50%;
	position: absolute;
	left: 50%;
}

#informationFlyout {
	border: 2px solid black;
	background-color: white;
}

#errorFlyout {
	border: 2px solid #5F84CF;
	background-color: rgba(255, 0, 0, 0.8);
}

.processing-flyout {
	display: -ms-grid;
	-ms-grid-columns: 40px auto;
	-ms-grid-rows: 1fr;
}



.processing-flyout progress {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}


.processing-flyout .processing-message {
	-ms-grid-column: 2;
	margin: 0px;
}
.dr-homebutton:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm)::before {
    content: "\E10F";
}

.empty-message {
	margin-left: 120px;
	font-size: 20pt;
}

.call-to-action {
	background-color: #1EDB11;
	background-image: linear-gradient(#7BC721, #5A9A18);
	color: white;
}

button.call-to-action{
	border-color: #317900;
}

.strike-through {
	text-decoration: line-through;
	opacity: 0.6;
}

@media screen and (-ms-view-state: snapped) {
    .fragment {
        -ms-grid-rows: 80px 1fr 80px;
    }

    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 36px 10px 0 0;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 28px;
        }

    .item-container {
        width: calc(100% - 24px);
    }

    .win-listview > .win-vertical .win-container {
        margin-left: 20px;
    }

    .page-header-bar {
        top: 0px;
        right: 10px;
        display: none;
    }

    h1.titlearea {
    	width: calc(100% - 20px);
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
	.fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }
}
