/** Splash */
html {
    cursor: default;
}

body {
    background: #2e436d url('/images/SoftwareStoreBigBackgroundImage.png') no-repeat;
}

    body.loading {
        background-image: none;
    }

progress {
    margin: -250px auto 0;
    display: block;
}


.extendedSplashScreen.hidden {
    display: none;
}

/** END Splash */

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 120px 1fr 80px;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 39px;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 37px;
        }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

    h1.titlearea {
        width: calc(100% - 30%);
    }

span.win-label {
	display: none;
}

.add-to-cart { 
	position: absolute;
	border-radius: 50%;
	background-color: #70F508;
	z-index: 100;
	transition: all 1s;
}

    .add-to-cart span {
        font-size: inherit;
        font-weight: bold;
        width: inherit;
        text-align: center;
    }

.add-to-cart.start{
    width: 50px;
	height: 50px;
	font-size: 22pt;
	display: none;
}

.add-to-cart.end{
	font-size: 11pt;
	font-weight: normal;
	width: 20px;
	height: 20px;
}

.hidden {
	margin-bottom: 5px;
	background-color: transparent;
	display: none;
}

.win-listview > .win-horizontal .win-container{
	margin-bottom: 5px;
	background-color: transparent;
	display: -ms-grid;
}

/*
	Defines the standard footer on each page
*/
footer {
	-ms-grid-row: 3;
	text-align: center;
	padding-top: 10px;
}

footer p {
	margin-bottom: 5px;
	margin-top: 0px;
}

@media screen and (-ms-view-state: snapped) {
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 0;
            margin-right: 10px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 68px;
        }

    .item-container {
        width: calc(100% - 24px);
    }

    .win-listview > .win-vertical .win-container {
        margin-left: 20px;
    }

    .page-header-bar {
        top: 0px;
        right: 10px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }
}
