.item-container {
	border: 1px solid #425E97;
	margin: 0;
	cursor: pointer;
	width: 298px;
	background-color: rgba(34, 49, 78, 0.498);
	display: -ms-grid;
	overflow: hidden;
	padding-top: 5px;
	height: 68px;
	-ms-grid-column-align: stretch;
	-ms-grid-row-align: start;
}
/* 
    Product Template
    Defines a 310 x 75 pixel template to display products. 
    Use whenever a product is displayed in a list view control 
*/

.item-container .image-wrapper {
    width: 56px;
	height: 58px;
    float: left;
    background: white;
    text-align: center;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
    padding: 2px;
    overflow: hidden;
}

.item-image {
	max-width: 54px;
	max-height: 58px;
	color: #ccc;
}

.item-container .text-wrapper {
    margin-left: 70px;
    vertical-align: middle;
}

.item-container p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.item-container .item-title {
	font-weight: 600;
	line-height: 16px;
	max-height: 40px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.win-listview > .win-horizontal .win-container {
	margin-bottom: 5px;
	background-color: transparent;
	display: -ms-grid;
}