.productpage .content {
    -ms-grid-row: 2;
    display: -ms-grid;
    overflow-x: auto;
    z-index: 0;
    -ms-grid-column: 1;
    -ms-grid-columns: 470px auto 1fr;
    margin-left: 120px;
    margin-right: 80px;
    -ms-grid-rows: 50px 1fr;
}

.productpage .display-pane-header {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.productpage .header-button {
	border-width: 0px;
	border-style: none;
	margin-right: 80px;
}

.productpage .header-button.selected{
	font-weight: 500;
}

.productpage .display-pane {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: calc(100% - 40px);
}

.productpage .product-image {
    background-color: white;
    border-width: 1px;
    border-color: #CCC;
    position: relative;
    max-height: 250px;
}

.productpage button.buyNow {
    background-color: #49bb04;
    margin-top: 10px;
}

.productpage button.buyNow:hover {
        background-color: rgba(73, 187, 4, .4);
    }

.productpage .short-description {
	margin-top: 10px;
	overflow-y: auto;
	padding-right: 20px;
	padding-bottom: 20px;
	height: calc(100% - 300px);
    
}

.productpage .long-description {
	display: none;
}

.productpage progress {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    position: relative;
}

.productpage .win-flipview {
    height: 270px;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: white;
}

.productpage .pricing {
	-ms-grid-column: 2;
	-ms-grid-row: 2;
}
.productpage .pricing h2 {
	margin-top: 0px;
}

.productpage .pricing-wrapper {
	padding: 10px 20px 20px;
	background-color: rgba(33, 47, 76, 0.498);
	border: 2px solid #5F84CF;
	width: 130px;
	margin-left: 0px;
}

.productpage .offers-container {
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	-ms-grid-column: 3;
}

.productpage .offers-header {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

@media screen and (-ms-view-state: snapped) {
    .productpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        display: block;
    }

    .productpage .display-pane {
        margin: 0;
        width: 470px;
        -ms-grid-column: 1;
    }

    .product-pricing {
        font-weight: 600;
        -ms-grid-column: 2
    }

    .product-image {
        display: inline;
        position: static;
    }

    .description-pane .short-description {
        overflow-y: auto;
        display: block;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
