.productpage .content {
    -ms-grid-row: 2;
    display: -ms-grid;
    overflow-x: auto;
    z-index: 0;
    -ms-grid-column: 1;
    -ms-grid-columns: 470px auto 1fr;
    margin-left: 117px;
    margin-right: 40px;
    -ms-grid-rows: 50px auto 1fr;
}

.productpage .display-pane-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

    /* Override default button styles */
    .productpage .display-pane-header .header-button:hover, .productpage .display-pane-header .header-button:hover:active {
        background: transparent;
        border: 0;
    }

.productpage .header-button {
    border-width: 0px;
    border-style: none;
    margin-right: 30px;
}

    .productpage .header-button.selected {
        font-weight: 500;
    }

.productpage .display-pane {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: calc(100% - 40px);
    -ms-grid-row-span: 2;
}

.productpage .product-image {
    background-color: white;
    border-width: 1px;
    border-color: #CCC;
    position: relative;
    max-height: 250px;
}

.productpage button.buyNow {
    background-color: #49bb04;
    margin-top: 10px;
}

    .productpage button.buyNow:hover {
        background-color: rgba(73, 187, 4, .4);
    }

.productpage .short-description {
    overflow-y: auto;
    padding-right: 20px;
    height: calc(100% - 300px);
    width: calc(100% - 40px);
    margin-top: 10px;
}

.productpage .details-pane {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	display: none;
	overflow-y: auto;
	height: calc(100% - 20px);
	-ms-grid-row-span: 2;
}

.productpage .long-description {
}

.productpage progress {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    position: relative;
}

.productpage .win-flipview {
    height: 270px;
    width: calc(100% - 40px);
    background-color: white;
}

.productpage .pricing {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-bottom: 20px;
}

    .productpage .pricing h2 {
        margin-top: 0px;
    }

.productpage .pricing-wrapper {
    padding: 10px 20px 20px;
    background-color: rgba(33, 47, 76, 0.498);
    border: 2px solid #5F84CF;
    width: 130px;
}

.productpage .offers-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-left: 80px;
    -ms-grid-row-span: 3;
}

.productpage .offers-header {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

 .productpage #snapped_description {
 	display: none;
}

@media screen and (-ms-view-state: snapped) {
    .productpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        display: -ms-grid;
        margin-left: 20px;
        margin-right: 20px;
        -ms-grid-rows: 160px auto 1fr;
        -ms-grid-columns: 280px;
        overflow-y: hidden;
    }

    .productpage .display-pane {
        margin: 0;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        height: auto;
        -ms-grid-row-span: 1;
    }

    .productpage .display-pane-header {
    	display: none;
    }
	
	 .productpage #snapped_description {
		-ms-grid-row: 3;
		-ms-grid-column-span: 1;
		height: 100%;
		margin-bottom: 0px;
		display: block;
		
	}
    .productpage .offers-container {
    	display: none;
    }

    .productpage .product-image {
    	max-height: 146px;
    }

    .productpage .win-flipview {
    	height: 146px;
    	padding: 2px;
    	width: auto;
    }

    .productpage .pricing {
    	width: 280px;
    	-ms-grid-row: 2;
    	margin-bottom: 10px;
    	-ms-grid-column: 1;
    }
	
    .productpage footer {
    	display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
	.productpage .offers-container {
		display: none;
	}

	.productpage .content {
		margin-left: 80px;
	}
}

@media screen and (-ms-view-state: filled) {
	.productpage .content {
		-ms-grid-columns: 470px 1fr;
		
	}
	.productpage .offers-header {
		margin-left: 0px;
	
	}
	.productpage .offers-container {
		margin-left: 0px;
		-ms-grid-row-span: 1;
		-ms-grid-column: 2;
		-ms-grid-row: 3;
	
	}
	.productpage .pricing {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-align: start;
    -ms-grid-column-align: start;
    display: inline-block;
}

}