<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="656a31b9-0974-48c7-9386-4f1ee46b2487" Version="1.0.0.0" Publisher="CN=Martin" />
  <Properties>
    <DisplayName>SoftwareStore</DisplayName>
    <PublisherDisplayName>Martin</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="SoftwareStore" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="SoftwareStore" ForegroundText="light" BackgroundColor="#2e436d">
        <DefaultTile ShowName="logoOnly" WideLogo="images\SoftwareStoreWideLogo.png" />
        <SplashScreen Image="images\SoftwareStoreSplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>